@model User
<div class="top">
    <h1>Login to this Cool Site</h1>
    <a href="/">Register</a>
</div>
<br>
<div class="body">
    <form asp-action="Login" asp-controller="Home" method="POST">
        <div class="box1">
            <span asp-validation-for="Email"></span>
            <label asp-for="Email"></label><br>
            <input asp-for="Email"><br>
        </div>

        <div class="box2">
            <span asp-validation-for="Password"></span>
            <label asp-for="Password"></label><br>
            <input asp-for="Password"><br>

            <span asp-validation-for="Confirm"></span>
            <label asp-for="Confirm"></label><br>
            <input asp-for="Confirm"><br>

        </div>

        <div class="box3">
            <br>
            <br>
            <button type ="submit">Login Now</button>
        </div>
    </form>


</div>

